/* Fonts */
.berkshire{
    font-family: "Berkshire Swash", serif;
    font-weight: 400;
    font-style: normal;
}

.gill-sans {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
}

/* ANIMATIONS */

@keyframes slide-up {
    0% {margin-top: 250%; opacity: 0;}
    100% {margin-top: 0%; opacity: 1;}
}

.revealable {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 0.5s ease;
}
.active {
    transform: translateY(0px);
    opacity: 1;
}
  

/* MAIN ELEMENTS */

body { margin: 0; padding: 0; }

p { font-size: 1.15rem; }

.nav-bar {
    width: 100%;
    height: 65px; /* Not using vh to prevent shrinking */
    padding: 5px 10px 5px 10px;
    /* Prevents padding from extending width by using inner space instead */
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;

    background-color: #d5bdaf;
    filter: drop-shadow(0px 2px #958379);
}

.nav-bar div img {
    height: 100%;
    overflow: hidden;
    object-fit: contain;
}

.nav-bar-left { flex: 1; }
.nav-bar-right {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: .725;
}

.nav-bar-jumper a {
    font-size: 1.25em;
    color: black;
    text-decoration: none;

    transition: .2s;
}
.nav-bar-jumper a:hover{ color: white; }

.nav-bar-line {
    width: .1em;
    height: 65%;
    background-color: white;
}

/* MAIN BODY */

.main-body {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #edede9;
}

.about-me-misc-section {
    width: 100%;
    height: 100%;
}

.header-section { 
    width: 100%;
    height: 90vh;

    overflow: hidden; /* For slide animation */

    background-image: url(./assets/image1.png);
    background-size: cover;
    background-position: center top;
    box-shadow: inset 0px 0px 100px rgba(0, 0, 0, 0.4); /* Vignette */
}

.mission-section-body {
    width: 65%; min-width: 400px; max-width: 1250px;
    height: 90%; max-height: 750px;
    padding: 15px;
    box-sizing: border-box;
    
    background-color: rgb(255, 255, 255, 0.4);
    text-align: center;
    font-size: 1.5em;
    overflow: hidden;

    animation-name: slide-up;
    animation-duration: 2s;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mission-section-body > * { width: 100%; height: 100%; }

#mission-text {
    font-size: clamp(1rem/2, -0.875rem + 8.333vw, 3.5rem/2);;
}

/* backdrop-filter affects everything behind it excluding text,
whereas filter affects all in the div including text */
.mission-section-blur { 
    width: 100%; 
    height: 100%;

    backdrop-filter: blur(10px); 
    display: flex;
    justify-content: center;
    align-items: center;

}

.main-body {
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;

    background-color: #edede9;
}

.about-me-misc-section { 
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;

    padding-top: 20px;
    padding-bottom: 20px;
    gap: 30px;
}

.flex-item {
    width: 500px;
    height: 500px;
    padding: 10px;
}

#about-me-img {
    transform: scale(.55, .55);
    border-radius: 50%;
    background-size: cover;
    background-position: center 20%;
    background-image: url("./assets/image0.png");

    text-align: center;
    font-size: 1.5rem;
    top: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
    color: black;

    min-width: 540px;
    min-height: 540px;
}

#about-me-info, #philosophy-info, #lesson-plans-info {
    text-align: center;
    background-color: #d6ccc2;
}

#about-me-info, #philosophy-info, #lesson-plans-info {
    width: 400px; 
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-self: center;
    flex-direction: column;

    filter: drop-shadow(8px 8px rgb(119 111 103));
}

#about-me-info { height: 300px; }

#lesson-plans-info { display: flex; justify-content: center; flex-direction: column; }

.carousel-arrows {
    align-self: center;
    width: 40%;
    height: 35px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.carousel-arrows img { max-width: 100%; max-height: 100%; opacity: 0.65;}
.carousel-arrows img:hover {transform: scale(0.9, 0.9); filter: drop-shadow(.5px .5px 2px); transition: .25s;}

.lesson-plans-examples {
    transform: scale(0.9, 0.9);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}
.lesson-plans-examples img { width: 140px; height: 115px; border-radius: 5px; transition: 0.25s;}
.lesson-plans-examples img:hover {transform: scale(0.9, 0.9);}

.contact-bar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.leftfoot img {
    width: 40px;
    height: 40px;
}

.rightfoot{
    align-self: flex-end;
} 


/* MISCELLANEOUS */

.phil-text-chamber {
    width: 100%; 
    height: 65%; 
    position: relative;
    
    background-color: #f5ebe051;
    font-size: 1rem;

}

.phil-text-item {
    position: absolute; 
    top: 0; 
    opacity: 0;

    padding: 10px;
    box-sizing: border-box;
}

/* MEDIA QUERIES */

  @media only screen and (min-width: 890px) and (max-width: 989px) {
    #about-me-info { 
        height: 500px; 
        justify-content: space-between;
    }

    #about-me-info p {
        height: 100%;
        line-height: 35px;
    }
  }

  /* Small phones */
  @media (max-width: 480px) {
    .header-section{
        height: 100vh;
        padding-top: 60px;
    }

    .mission-section-body{
        min-width: 300px;
    }
    
    .nav-bar-left { flex: .25; }
    .nav-bar-right { 
        font-size: .85em;
        flex: 2; 
    }
    
    .phil-text-item { font-size: .925rem;}

    /* Footer */
    .leftfoot img {
        width: 30px;
        height: 30px;
    }
    .rightfoot{
        font-size: smaller;
    }
  }

  @media (max-width:801px)  {
    .nav-bar-left { flex: .25; }
    .nav-bar-right { 
        font-size: .85em;
        flex: 2; 
    }
  }

  /* For mega monitors */
  @media (min-width: 1480px) {
    #about-me-info { 
        height: 500px; 
        justify-content: space-between;
    }

    #about-me-info p {
        height: 100%;
        line-height: 35px;
    }
  }